html, body {
  height: 100vh;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #ccf;
}

#root {
  height: 100%;
}

h1 {
  text-align: center;
}
